.center2 {
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;

}
.Grid {
  text-align: center;
}
.background-image2 {
  background-image: url("/assets/images/background2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.loghead {
  color: #FFF;
}
.logtext, .logtext a {
  color: white;
}
