.container-reserv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 700px;
  width: 100%;
  background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimage.freepik.com%2Ffree-photo%2Fwooden-board-empty-table-top-on-of-blurred-background_1253-1584.jpg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 30%;
  background-size: cover;
}
.box-20 {
  min-width: 20%;
  max-width: 300px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: white;
}
.box-21 {
  max-width: 400px;
}
.reservtext {
  color: black;
}




/* .center{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card > form{
  display: flex;
  flex-direction: column;
}

.card h1{
  text-align: center;
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item{
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: 16rem;
  border: 1px solid grey;
}

.form-submit{
  height: 35px;
  color: #fff;
  background-color: darkblue;
  border: none;
  transition: 0.3s opacity ease;
  cursor: pointer;
} */
